@import '_variables.scss';

body {
  margin: 5;
  background-color: var(--bg-color);
  // transition: background-color 1s;
}

%darkStyles {
  --bg-color: #222;
  --text-color: #eee;
  --text-color-light: #c5c5c5;
  --text-color-lighter: white;
  --control-bg-color: #2f2f2f;
  --control-bg-color-secondary: #444;
}
%lightStyles {
  --bg-color: #eee;
  --text-color: #333;
  --text-color-light: #5e5e5e;
  --text-color-lighter: #8c8c8c;
  --control-bg-color: #e1e1e1;
  --control-bg-color-secondary: #cacaca;
}

body.dark {
  @extend %darkStyles;
}
body.light {
  @extend %lightStyles;
}
div {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: var(--text-color-light);
  text-decoration: none;
  border-bottom: 1px solid var(--text-color-light);
  &:hover {
    color: var(--text-color-lighter);
  }
  &:focus {
    color: red;
  }
}
%controlStyles {
  // @if $ui-theme == 'dark' {
  //   background-color: lighten(map-get($map: $theme, $key: bg), 5%);
  // } @else {
  //   background-color: darken(map-get($map: $theme, $key: bg), 5%);
  // }
  background-color: var(--control-bg-color);
  padding: 5px 15px;
  font-size: 11pt;
  font-family: var(--base-font);
  border: 2px solid transparent;
  border-radius: 100px;
  color: var(--text-color);
  outline: none;
  transition: background-color 150ms;
  // &:hover {
  //   @if $ui-theme == 'dark' {
  //     background-color: lighten(map-get($map: $theme, $key: bg), 10%);
  //   } @else {
  //     background-color: darken(map-get($map: $theme, $key: bg), 10%);
  //   }
  // }
  &:focus {
    border: 2px solid var(--control-bg-color-secondary);
  }
  &:active {
    //   @if $ui-theme == 'dark' {
    //     background-color: lighten(map-get($map: $theme, $key: bg), 10%);
    //   } @else {
    //     background-color: darken(map-get($map: $theme, $key: bg), 10%);
    //   }
    background-color: var(--control-bg-color-secondary);
  }
}
button {
  @extend %controlStyles;
  cursor: pointer;
}
select {
  @extend %controlStyles;
  box-sizing: content-box;
}
input {
  @extend %controlStyles;
  // @if $ui-theme == 'dark' {
  //   background-color: darken(map-get($map: $theme, $key: bg), 5%);
  // } @else {
  //   background-color: darken(map-get($map: $theme, $key: bg), 10%);
  // }
  width: 100%;
  box-sizing: border-box;
  // &:hover {
  //   @if $ui-theme == 'dark' {
  //     background-color: darken(map-get($map: $theme, $key: bg), 6%);
  //   } @else {
  //     background-color: darken(map-get($map: $theme, $key: bg), 15%);
  //   }
  // }
  // &:focus {
  //   @if $ui-theme == 'dark' {
  //     background-color: darken(map-get($map: $theme, $key: bg), 8%);
  //   } @else {
  //     background-color: darken(map-get($map: $theme, $key: bg), 20%);
  //   }
  // }
}
.iconButton {
  color: var(--text-color);
  cursor: pointer;
  &:hover {
    color: var(--text-color-hover);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #222;
    --text-color: #eee;
    --text-color-light: #c5c5c5;
    --text-color-lighter: white;
    --control-bg-color: #2f2f2f;
    --control-bg-color-secondary: #444;
  }
}
@media (prefers-color-scheme: light) {
  body {
    --bg-color: #eee;
    --text-color: #333;
    --text-color-light: #5e5e5e;
    --text-color-lighter: #8c8c8c;
    --control-bg-color: #e1e1e1;
    --control-bg-color-secondary: #cacaca;
  }
}
