@use 'sass:map';

:root {
  --bg-color: #eeeeee00;
  --text-color: #333;
  --text-color-light: #5e5e5e;
  --text-color-lighter: #8c8c8c;
  --control-bg-color: #e1e1e1;
  --control-bg-color-secondary: #cacaca;
  --base-font: 'Poppins', 'Liberation Sans', sans-serif;

  --glow-color: #efefef;
  --glow-color-secondary: #ffffff;

  --fajr-color: #1e2d7c;
  --fajr-color-secondary: #276de6;
  --sunrise-color: #20bf55;
  --sunrise-color-secondary: #01baef;
  --dhuhr-color: #f9d29d;
  --dhuhr-color-secondary: #ffd8cb;
  --asr-color: #fce043;
  --asr-color-secondary: #fb7ba2;
  --maghrib-color: #d4418e;
  --maghrib-color-secondary: #0652c5;
  --isha-color: #203695;
  --isha-color-secondary: #092070;
}

$text-color: (
  light: #333,
  dark: #eee,
);
$bg-color: (
  light: #eee,
  dark: #222,
);
$fajr-style: (
  background: linear-gradient(
      135deg,
      var(--fajr-color) 0%,
      var(--fajr-color-secondary) 100%
    ),
  foreground: map.get($text-color, dark),
);
$sunrise-style: (
  background: linear-gradient(
      315deg,
      var(--sunrise-color) 0%,
      var(--sunrise-color-secondary) 74%
    ),
  foreground: map.get($text-color, light),
);
$dhuhr-style: (
  background: linear-gradient(
      315deg,
      var(--dhuhr-color) 0%,
      var(--dhuhr-color-secondary) 74%
    ),
  foreground: map.get($text-color, light),
);
$asr-style: (
  background: linear-gradient(
      315deg,
      var(--asr-color) 0%,
      var(--asr-color-secondary) 74%
    ),
  foreground: map.get($text-color, light),
);
$maghrib-style: (
  background: linear-gradient(
      315deg,
      var(--maghrib-color) 0%,
      var(--maghrib-color-secondary) 74%
    ),
  foreground: map.get($text-color, dark),
);
$isha-style: (
  background: linear-gradient(
      315deg,
      var(--isha-color) 0%,
      var(--isha-color-secondary) 74%
    ),
  foreground: map.get($text-color, dark),
);

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: '';
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}
