@import "base";

body {
  background-color: #222;
  margin: 0;
}

.contentBoxes {
  // margin: 0px 0px 25px 25px;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, 220px);
}
.contentBox {
  margin: 10px;
  padding: 25px;
  color: white;
  // height: 200px;
  // width: 370px;
  border-radius: 20px;
  box-shadow: 30px 30px 80px rgba($color: black, $alpha: 0.5);
}
.contentBox:nth-child(1) {
  background: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  // border: 5px solid #bbb;
}
.contentBox:nth-child(2) {
  color: #333;
  background: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
.contentBox:nth-child(3) {
  color: #333;
  background: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}
.contentBox:nth-child(4) {
  color: #333;
  background: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
}
.contentBox:nth-child(5) {
  background: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}
.contentBox:nth-child(6) {
  background: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.waqtName {
  font-family: $base-font;
  font-size: 20pt;
}

.waqtTime {
  margin-top: 20px;
  font-family: $base-font;
  font-size: 40pt;
}

.fade-enter-active, .fade-leave-active{
  transition: all 0.3s ease;
}
.fade-enter{
  opacity: 100;
}
.fade-leave-to{
  opacity: 0;
}

@media (max-width: 800px) {
  .contentBoxes {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 220px);
  }
}
@media (max-width: 575px) {
  .contentBoxes {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 220px);
  }
  #headerBox {
    margin: 30px 50px 10px 50px;
    display: block;
  }
  #headerText {
    text-align: center;
  }
}

@media (min-width: 768px){
  #bossContainer{
    padding: 3% 5%;
  }
}