@import "base";

body {
  background-color: $main-bg;
  margin: 0;
}

.contentBoxes {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, 220px);
}
.contentBox {
  margin: 10px;
  padding: 25px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 0.5px rgba(#000, 0.1), 0 5px 8px rgba(#000, 0.15), 0 20px 20px rgba(#000, 0.2);
}
.contentBox:nth-child(1) {
  color: map-get($map: $fajr-style, $key: foreground);
  background: map-get($map: $fajr-style, $key: background);
}
.contentBox:nth-child(2) {
  color: map-get($map: $sunrise-style, $key: foreground);
  background: map-get($map: $sunrise-style, $key: background);
}
.contentBox:nth-child(3) {
  color: map-get($map: $dhuhr-style, $key: foreground);
  background: map-get($map: $dhuhr-style, $key: background);
}
.contentBox:nth-child(4) {
  color: map-get($map: $asr-style, $key: foreground);
  background: map-get($map: $asr-style, $key: background);
}
.contentBox:nth-child(5) {
  color: map-get($map: $maghrib-style, $key: foreground);
  background: map-get($map: $maghrib-style, $key: background);
}
.contentBox:nth-child(6) {
  color: map-get($map: $isha-style, $key: foreground);
  background: map-get($map: $isha-style, $key: background);
}
.divWaqt {
  .waqtName {
    font-family: $base-font;
    font-size: 20pt;
    white-space: nowrap;
    overflow: auto;
  }

  .waqtTime {
    margin-top: 20px;
    font-family: $base-font;
    font-size: 40pt;
    white-space: nowrap;
    overflow: auto;
    // text-overflow: ellipsis;
  }
  // .nextWaqtTime {
  //   font-size: 18pt;
  // }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter {
  opacity: 100;
}
.fade-leave-to {
  opacity: 0;
}
@keyframes flash {
  0% {
    border-color: rgba($color: #333, $alpha: 1);
  }
  100% {
    border-color: rgba($color: #fff, $alpha: 1);
  }
}
.active {
  border: 5px solid #ccc;
  animation: flash 1.5s infinite alternate;
}

@media (max-width: 800px) {
  .contentBoxes {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 220px);
  }
}
@media (max-width: 575px) {
  .contentBoxes {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 220px);
  }
  #headerBox {
    margin: 30px 50px 10px 50px;
    display: block;
  }
  #headerText {
    text-align: center;
  }
}

@media (min-width: 825px) {
  #secondBossContainer {
    padding: 3% 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
